<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/style.css" rel="stylesheet">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
                      
<table class="table">
                 
    <caption>List of users</caption>
       
    <thead class="thead-dark">
                        
    <tr>
                                
        <th scope="col">Id</th>
                                
        <th scope="col">Username</th>
                                
        <th scope="col">Password</th>
                                
        <th scope="col">Email</th>

        <th scope="col">Edit</th>

        <th scope="col">Delete</th>
                            
    </tr>
                    
    </thead>
                    
    <tbody>
                    
    <tr th:each="user : ${users}">

        <td th:text="${user.id}"></td>
                            
        <td th:text="${user.username}"></td>
                            
        <td th:text="${user.password}"></td>
                            
        <td th:text="${user.email}"></td>

        <td>
            <a class="btn btn-success" role="button"
               th:href="@{/user/update/__${user.id}__}">
                Edit
            </a>
        </td>
                            
        <td>
            <a class="btn btn-danger" role="button"
               th:href="@{/user/delete/__${user.id}__}">
                Delete
            </a>
        </td>
                        
    </tr>
                
    </tbody>
            
</table>
  
</body>
</html>